{% extends "base.html" %}
{% block title %}Start Page{% endblock %}
{% block content %} 
<div id="instructions"> 
    <h4 class="h4">GAME RULES:</h4>
    <ul>
        <li>The goal of the game is to get the highest point total.</li>
        <li>To gain points, players create words from a random assortment of letters in a 5x5 grid.</li>
        <li>Words can be created from adjacent letters – that is, letters which are horizontal or vertical
            neighbors of each other as well as diagonals.</li>
        <li> The letters must connect to each other in the proper sequence to spell the word correctly. 
            This means that the next letter in the word can be above, below, left, or right of the previous 
            letter in the word (excluding any letters previously used to construct the word). </li>
   </ul>
</div>
<br>
<a class="btn btn-secondary" href="/game-load">Start the Game</a>
{% endblock %}